- if !@comments.empty?
  .comments
    - for comment in @comments
      = render :partial => "comment_with_post" , :locals => { :comment => comment }
  = will_paginate @comments, :prev_label => '&laquo;', :next_label => '&raquo;'
- else
  %p Пока комментариев нет.
