
div {
  padding: 0;
  margin: 0; }

body {
  margin: 40px 80px; }

img {
  border-width: 0; }

a {
  color: #554a43; }
  a:hover {
    color: #2d221b;
    text-decoration: underline; }

a[name] {
  text-decoration: inherit;
  color: inherit;
  background: inherit; }

h2 {
  font-family: Verdana; }

#header {
  padding: 0 0 1.5em 0;
  height: 7em; }
  #header #logo {
    margin: 0;
    float: left; }
  #header #auth {
    font-size: smaller;
    float: right;
    display: inline;
    padding: 45px 0 0 0; }

.button a {
  color: #554a43;
  text-decoration: none;
  padding: 0.4em 0.6em 0.4em 0.6em;
  font-size: smaller;
  font-weight: bold;
  font-family: Verdana;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF; }
  .button a:hover {
    border-color: #554a43; }

ul#menu {
  list-style: none;
  padding: 0;
  margin: 42px 0 0 2em;
  float: left; }
  ul#menu li {
    float: left;
    margin: 0 0.3em;
    font-size: smaller;
    font-weight: bold;
    font-family: Verdana; }
    ul#menu li .current {
      display: inline;
      color: #FFF;
      background-color: #554a43;
      border-color: #554a43; }
    ul#menu li a, ul#menu li .current {
      padding: 0.4em 0.6em 0.4em 0.6em; }
    ul#menu li img {
      vertical-align: middle; }

#new-post-link {
  margin-top: 1em;
  float: left; }
  #new-post-link a {
    color: #554a43;
    text-decoration: none;
    padding: 0.4em 0.6em 0.4em 0.6em;
    font-size: smaller;
    font-weight: bold;
    font-family: Verdana;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF; }
    #new-post-link a:hover {
      border-color: #554a43; }

.pagination a {
  color: #554a43;
  text-decoration: none;
  padding: 0.4em 0.6em 0.4em 0.6em;
  font-size: smaller;
  font-weight: bold;
  font-family: Verdana;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF; }
  .pagination a:hover {
    border-color: #554a43; }
.pagination .disabled {
  display: none; }
.pagination a, .pagination .current {
  margin-right: 0.4em; }
.pagination .current {
  color: #FFF;
  background-color: #554a43;
  text-decoration: none;
  padding: 0.4em 0.6em 0.4em 0.6em;
  font-size: smaller;
  font-weight: bold;
  font-family: Verdana;
  border-width: 1px;
  border-style: solid;
  border-color: #FFF; }

#notice {
  color: green;
  margin-bottom: 1em; }

#content {
  padding-top: 0.5em; }
  #content h1 {
    font-size: 1.6em;
    font-weight: normal;
    padding: 0;
    margin: 0 0 1em; }
  #content .post, #content .comment {
    padding: 2em 2em 3em 2em;
    background-color: #e9e8e2;
    margin: 0 0 2em 0; }
  #content .post .comment {
    margin: 1.5em 0 1.5em 0; }
  #content .comment {
    background-color: #f5f4e2; }
  #content .metadata {
    color: #AAA;
    font-size: smaller;
    padding-top: 0.5em;
    float: left; }
  #content .tags {
    color: #AAA;
    font-size: smaller;
    padding-top: 0.5em;
    float: right; }
  #content .content p {
    font-size: 1.2em;
    margin: 0 0 0.5em 0; }
  #content textarea {
    width: 50%;
    height: 150px;
    font-size: 1.2em; }
  #content input#post_tag_list {
    width: 50%; }
  #content .tip {
    font-size: smaller;
    color: #777; }
  #content hr {
    border: 0;
    height: 1px;
    color: #DDD;
    background-color: #DDD; }

#tag-cloud {
  margin-top: 2em; }
  #tag-cloud a {
    text-decoration: none;
    padding: 0.1em; }
    #tag-cloud a:hover {
      color: white;
      background-color: #554a43; }
  #tag-cloud .tag-small {
    font-size: 1em; }
  #tag-cloud .tag-medium {
    font-size: 1.5em; }
  #tag-cloud .tag-large {
    font-size: 2em; }

#footer {
  padding: 2em 0 2em 0; }
  #footer .copyright {
    float: left;
    margin-top: 10px; }
  #footer .counter {
    float: right; }
