#post
  = render :partial => "post", :locals => { :post => @post }
  
%h2 Комментарии
- if !@post.comments.empty?
  .comments
    = render :partial => "comments/comment", :collection => @post.comments

- else
  %p Комментариев пока нет. 

= render :partial => "comments/form", :locals => { :post => @post, :comment => @comment }
     
